DATABASE_URL=""
NEXTAUTH_URL=""
NEXTAUTH_SECRET=""
ADMIN_EMAIL=""
ADMIN_PASSWORD_HASH=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM=""
CONTACT_EMAIL_TO=""